<form [formGroup]="form" (ngSubmit)= "saveClient()">

<div class="form-group">
    <div class="col-md-4 col-m-6">
        <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text bg-white">
                        <i class="fas fa-user-circle">

                        </i>                     
                    </div>                     
                </div>
            <input type="text" class="form-control" formControlName="firstName" placeholder="Nombre del Cliente">
        </div>
    </div>
</div>
<div class="form-group">
    <div class="col-md-4 col-m-6">
        <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text bg-white">
                        <i class="fas fa-user-circle">

                        </i>                     
                    </div>                     
                </div>
            <input type="text" class="form-control" formControlName="lastName" placeholder="Apellido del Cliente">
        </div>
    </div>
</div>
<div class="form-group">
    <div class="col-md-4 col-m-6">
        <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text bg-white">
                        <i class="fas fa-envelope">

                        </i>
                    </div>
                </div>
            <input type="text" class="form-control" formControlName="email" placeholder="Email">
        </div>
    </div>
</div>
<div class="form-group">
    <div class="col-md-4 col-m-6">
        <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text bg-white">
                        <i class="fas fa-phone">

                        </i>
                    </div>
                </div>
            <input type="text" class="form-control" formControlName="phone" placeholder="Telefono">
        </div>
    </div>
</div>
<br>
<div class="form-group">
    <div class="form-group col-md-5">
        <button class="btn btn-success btn-lg btn-block" type="submit">
             Guardar</button>
    </div>
</div>

</form>
