<header class="container-fluid">
    <div class="header-top">
      <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-sm-8">
            <div class="dropdown" dropdown>
              <button id="dropdown-basic" dropdownToggle type="button" class="btn btn-secondary dropdown-toggle" aria-controls="dropdown-basic">
                    Usuario de prueba <i class="fas fa-user"></i>
              </button>
            </div>
            <div class="header-messages"><i class="fas fa-envelope"></i></div>
            <form class="form-inline">
              <input class="form-control mr-sm-2" type="search" placeholder="Búsqueda rápida" aria-label="Search">
              <button class="btn search-btn" type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>
      </div>
    </div>
    <div class="header-bottom">
      <div class="row">
        <div class="col-sm-6">
            <span class="section-name">Administrator - log</span>
        </div>
        <div class="col-sm-6">
          <h2 class="header-client-name text-md-right">Condominios</h2>
        </div>
      </div>
    </div>
  </header>
